<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<label for="title">title</label>
			<input type="text" id="title" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="author">authors name</label>
			<input type="text" id="lname" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="year">Year published</label>
			<input type="text" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="isbn">Isbn</label>
			<input type="text" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="price">Price</label>s
			<input type="text" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="catlist">Category</label>
			<select id="catlist" th:field="*{id}" class="form-control">
			<option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>